
<div class="main">

	<!-- Left part -->
	<div class="left">
		<div class="video content">
			<iframe width="640" height="360" src="https://www.youtube.com/embed/jofNR_WkoCE" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="title content">
			<h1>Ylvis - The Fox (What Does The Fox Say?) [Official music video HD] </h1>
		</div>
		<div class="description content">
			blabla
		</div>
	</div>

	<!-- Other videos suggestions -->
	<div class="right content">

		<div class="miniature">
			<div class="tumbnail">
				<%= link_to image_tag("thumbnails/thumb3.jpg", width: "168"), "https://www.youtube.com/watch?v=j265DpY423c" %>
			</div>
			<div class="minitext">
				<%= link_to 'House Of The Rising Sun By Heavy Young Heathens (The Magnificent Seven Trailer Music)', 'https://www.youtube.com/watch?v=j265DpY423c', class: "minititle" %>
				<h6>OnePunchMan</h6>
				<h6>Recommandée pour vous</h6>
			</div>
		</div>

		<div class="miniature">
			<div class="tumbnail">
				<%= link_to image_tag("thumbnails/thumb3.jpg", width: "168"), "https://www.youtube.com/watch?v=j265DpY423c" %>
			</div>
			<div class="minitext">
				<%= link_to 'House Of The Rising Sun By Heavy Young Heathens (The Magnificent Seven Trailer Music)', 'https://www.youtube.com/watch?v=j265DpY423c', class: "minititle" %>
				<h6>OnePunchMan</h6>
				<h6>Recommandée pour vous</h6>
			</div>
		</div>

		<div class="miniature">
			<div class="tumbnail">
				<%= link_to image_tag("thumbnails/thumb3.jpg", width: "168"), "https://www.youtube.com/watch?v=j265DpY423c" %>
			</div>
			<div class="minitext">
				<%= link_to 'House Of The Rising Sun By Heavy Young Heathens (The Magnificent Seven Trailer Music)', 'https://www.youtube.com/watch?v=j265DpY423c', class: "minititle" %>
				<h6>OnePunchMan</h6>
				<h6>Recommandée pour vous</h6>
			</div>
		</div>

		<div class="miniature">
			<div class="tumbnail">
				<%= link_to image_tag("thumbnails/thumb3.jpg", width: "168"), "https://www.youtube.com/watch?v=j265DpY423c" %>
			</div>
			<div class="minitext">
				<%= link_to 'House Of The Rising Sun By Heavy Young Heathens (The Magnificent Seven Trailer Music)', 'https://www.youtube.com/watch?v=j265DpY423c', class: "minititle" %>
				<h6>OnePunchMan</h6>
				<h6>Recommandée pour vous</h6>
			</div>
		</div>

		<div class="miniature">
			<div class="tumbnail">
				<%= link_to image_tag("thumbnails/thumb3.jpg", width: "168"), "https://www.youtube.com/watch?v=j265DpY423c" %>
			</div>
			<div class="minitext">
				<%= link_to 'House Of The Rising Sun By Heavy Young Heathens (The Magnificent Seven Trailer Music)', 'https://www.youtube.com/watch?v=j265DpY423c', class: "minititle" %>
				<h6>OnePunchMan</h6>
				<h6>Recommandée pour vous</h6>
			</div>
		</div>

		<div class="miniature">
			<div class="tumbnail">
				<%= link_to image_tag("thumbnails/thumb3.jpg", width: "168"), "https://www.youtube.com/watch?v=j265DpY423c" %>
			</div>
			<div class="minitext">
				<%= link_to 'House Of The Rising Sun By Heavy Young Heathens (The Magnificent Seven Trailer Music)', 'https://www.youtube.com/watch?v=j265DpY423c', class: "minititle" %>
				<h6>OnePunchMan</h6>
				<h6>Recommandée pour vous</h6>
			</div>
		</div>

		<div class="miniature">
			<div class="tumbnail">
				<%= link_to image_tag("thumbnails/thumb3.jpg", width: "168"), "https://www.youtube.com/watch?v=j265DpY423c" %>
			</div>
			<div class="minitext">
				<%= link_to 'House Of The Rising Sun By Heavy Young Heathens (The Magnificent Seven Trailer Music)', 'https://www.youtube.com/watch?v=j265DpY423c', class: "minititle" %>
				<h6>OnePunchMan</h6>
				<h6>Recommandée pour vous</h6>
			</div>
		</div>

	</div>

</div>
